@charset "UTF-8";
/* 回答はここから */

.bigbox {
    width: 200px;
    background-color: #fff;
    padding:20px 0;
}

.aligns {
    text-align: center;
}

.text {
    background: #a4b3e9;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
}

.margin-text {
    text-align: center;
    margin: 0 auto;
    width: 90px;
    padding: 10px;
    background: #a4b3e9;
}

.table {
    display: table;
}

.table-cell {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


.table-text {
    padding: 10px;
    background-color: #fff;
    display: inline-block;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-text{
    padding: 10px;
    background-color: #fff;
}



.relative {
    position: relative;
}

.position-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #a4b3e9;
    padding: 10px;
}
